{% extends "book/layout.html" %}

{% block title %} Longin {% endblock %}

{% block link %} <link rel="stylesheet" href="{{ url_for('static',filename='styles.css')}}"> {% endblock %}

{% block body %} 
<link rel="stylesheet" href="{{ url_for('static',filename='styles.css')}}">

<li><a href="{{ url_for('registrationPage')}}">Be a member</a></li>

	<div class="login">
		<form action="{{ url_for('login') }}" method="post">
			<input type="text" name="username" placeholder="Enter your username">
			<input type="password" name="password" placeholder="Enter your password">
			<input type="submit" name="submit">
		</form>
	</div>
	
{% endblock %}

