{% extends "book/layout.html" %}

{% block title %} no book found {% endblock %}

{% block link %} <link rel="stylesheet" href="{{ url_for('static',filename='styles.css')}}"> {% endblock %}

{% block header %} 

{% block logout %} Sign out {% endblock %}
{% block user %} User: {{name.name}} {% endblock %}
    

{% endblock %}

{% block body %} 

<link rel="stylesheet" href="{{ url_for('static',filename='styles.css')}}">

   <div class="input-group">
      <div class="form-outline">
         <form action="{{ url_for('book')}}" method="post">
            <img src="{{ url_for('static', filename='search.jpg') }}" class="search-icon">
            <input type="search"  class="inputText" name="book"  placeholder="search..."/>
         </form> 
      </div>
   </div>

<h>No book found</h>
{% endblock %}