{% extends "book/layout.html" %}

{% block title %} no book found {% endblock %}

{% block link %} <link rel="stylesheet" href="{{ url_for('static',filename='styles.css')}}"> {% endblock %}
{% block style %}
   <style>
      section{
         padding: 300px 0;
      }
      div {
         width: 40%;
         margin: 0 auto;
         display: grid;
         place-items: center;
      }
      h1{
         color: rgb(255, 0, 0);
         height: 100%;
         font-size: 300%;
      }
   </style>
{% endblock %}
{% block header %} 

{% block logout %} Sign out {% endblock %}
{% block user %} User: {{name.name}} {% endblock %}
    

{% endblock %}

{% block body %} 
<section>
   <div>
      <h1>No book match with your search...</h1>
   </div>
</section>

{% endblock %}