{% extends "book/layout.html" %}

{% block title %} registration {% endblock %}
{% block style %} 
	<style>
		.header {
			display: none;
		}
	</style>
{% endblock %}
{% block body %} 
   
    <div class="container register">
        <div class="form">
            <div id="welcome"> Feel the form to join  </div>

            <div class="spit">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-content">
                            <form action="{{ url_for('registration')}}" method="post">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <input type="text" name="name" placeholder="First name *" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <input type="text" name="surname" placeholder="Last name *" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" name="username" placeholder="username or email or your phone number *" class="form-control" readonly 
                                            onfocus="this.removeAttribute('readonly');" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <input type="password" name="password" placeholder="password *" class="form-control" autocomplete="off" readonly 
                                            onfocus="this.removeAttribute('readonly');" required>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <input type="password" name="confirm" placeholder="confirm password *" class="form-control" autocomplete="off" readonly 
                                            onfocus="this.removeAttribute('readonly');" required>
                                        </div>
                                    </div>
                                </div>
                                <input type="submit" name="submit" class="btnSubmit">
                            </form>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="login-text">
                            <li><a href="{{ url_for('login')}}">login</a></li>
                        </div>
                        <div id="book">
                           <img src="{{ url_for('static', filename='book.png')}}">
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="error">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for msg in messages %}
                        <p> {{msg}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
{% endblock %}
    
 