{% extends "book/layout.html" %}

{% block title %} Profile {% endblock %}

{% block body %} 


    <form action="{{ url_for('registration')}}" method="post">
        <input type="text" name="name" placeholder="Name" required>
        <input type="text" name="surname" placeholder="surname" required>
        <input type="text" name="username" placeholder="username/email" required>
        <input type="password" name="password" placeholder="password"required>
        <input type="password" name="confirm"   placeholder="confirm password" required>
        <input type="submit" name="submit">
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
        <p> {{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

{% endblock %}