{% extends "book/layout.html" %}

{% block title %} <title>review</title> {% endblock %}

{% block header %} 

{% block logout %} Sign out {% endblock %}
{% block user %} User: {{name.name}} {% endblock %}
    
{% endblock %}
{% block body %} 

    <div class="whole-container">
      <div class="left">
        <div class="top">
          <div class="book-pic">
            <img src="http://covers.openlibrary.org/b/isbn/{{book.isbn}}-L.jpg" id="book-cover">
          </div>
          <div class="book-details">
            <h3>{{book.title}}</h3> 
            <h5 >({{book.author}})</h5>
            <h6>  ISBN:  {{book.isbn}} - Released: {{book.year}}</h6>
          </div>
        </div>
        <div class="bottom">
          <div class="rate-box">
            <div class="rate-number">
          
              <h1>{{avg}}</h1>
              <p>Determined from vote of {{total_voted}} people </p>
            </div>
            <div class="float">
              <div class="align">
                {% set count = namespace(value=5) %}
                {% for i in rate %}
                <div class="inner-box">
                  <div class="number">
                    <p>{{count.value}}</p>  
                  </div>
                  <div class="perc">
                    {{i|safe}}
                    {% set count.value = count.value - 1 %}
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
         
          <div class="submit-review">
            <form action="{{ url_for('review')}}" method="POST">
              <div class="rating">
                <input type="radio" name="star5" id="star1"><label class="label" for="star1" id="star1"></label>
                <input type="radio" name="star4" id="star2"><label class="label" for="star2" id="star1"></label>
                <input type="radio" name="star3" id="star3"><label class="label" for="star3" id="star1"></label>
                <input type="radio" name="star2" id="star4"><label class="label" for="star4" id="star1"></label>
                <input type="radio" name="star1" id="star5"><label class="label" for="star5" id="star1"></label>
              </div>
              <textarea name="reviews" id="text" placeholder="Add a review"></textarea>
              <button type="submit" name="save">Save</button>
           
            </form>
          </div>
          <div class="reviewed">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for msg in messages %}
              <div class="flash"><p> {{msg}}</p></div>
              {% endfor %}
                {% endif %}
              {% endwith %}
          </div>
          <div class="comment">

            {% for review in reviews %}
            
            <div class="comment-header">
              <div class="circle"></div>
              <div class="next-to-circle">
                <div class="name">
                  <h9>{{review.name}} {{review.surname}}</h9>
                </div>
                <div class="star-time">
                 
                  <div class="time">
                    <h9> {{review.time}} {{review.realtime}}</h9>
                  </div>
                </div>
              </div>
            </div>
            <div class="comment-body">
              <p>{{review.reviews}}</p>
            </div>
             
            {% endfor %}
          </div>
  
        </div>
      </div>
      <div class="right">
        <h3>Favorite</h3> 
       
        {% for book in favorite %}
        <section>
        <div class="body-container">
            <div class="book-pic">
                <img id="fav" src="http://covers.openlibrary.org/b/isbn/{{book.isbn}}-L.jpg" id="book-cover">
            </div>
            <div class="book-details">
                <h4>{{book.title}}</h4> 
                <h5>({{book.author}})</h5>
                <h6>  ISBN:  {{book.isbn}} - Released: {{book.year}}</h6>
            </div>
            <div class="read-book">
                <div>
                    <form  action="/details/{{book['isbn']}}" method="post">
                        <button type="submit" class="button"> Book's details</button>
                    </form>
                </div>
            </div> 
            <div class="div"><hr></div>
        </div>
      </section>
    {% endfor %}
   
      </div>
    </div>
 
{% endblock %}