<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.js"    rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <style>
     
    </style>
</head>
<body>
    <div class="content">
        <div class="search">
          <input type="text" class="search__input" aria-label="search" placeholder="enter your search">
          <button class="search__submit" aria-label="submit search"><i class="fas fa-search"></i></button>
        </div>
      </div>
</body>
</html>