body {
  margin: 0;
  list-style: none;
  text-decoration: none;
}

section {
  padding: 45px 0;
}

.container {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

header {
  background-color: rgba(103, 14, 172, 0.133);
  border-bottom: 1px solid rgba(92, 6, 40, 0.133);
  border-top: 1px solid rgba(211, 12, 45, 0.133);
}

.header {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  place-items: center;
  margin-top: 20px;
}

.header .panel {
  width: 100%;
  place-items: center;
}

.header .panel .title {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.header .panel .input-group {
  display: -ms-grid;
  display: grid;
  place-items: center;
  outline: none;
}

.header .panel .input-group .inputText {
  outline: none;
  border: none;
  background-color: transparent;
  border-right: 1px solid #dddada;
  padding-left: 1.5em;
  padding: 0.2em 1.5em;
}

.header .panel .input-group .inline {
  border: 1px solid #dddada;
  background-color: snow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
  width: 100%;
  border-radius: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
}

.header .panel .input-group .inline button {
  background-color: transparent;
  border: none;
  outline: none;
}

.header .panel .input-group .inline:hover {
  border: 1px solid rgba(103, 14, 172, 0.133);
  -webkit-box-shadow: 0 0 2px rgba(103, 14, 172, 0.133), 0 0 3px rgba(103, 14, 172, 0.133), 0 0 4px rgba(103, 14, 172, 0.133), 0 0 5px rgba(103, 14, 172, 0.133), 0 0 7px rgba(103, 14, 172, 0.133), 0 0 8px rgba(103, 14, 172, 0.133);
          box-shadow: 0 0 2px rgba(103, 14, 172, 0.133), 0 0 3px rgba(103, 14, 172, 0.133), 0 0 4px rgba(103, 14, 172, 0.133), 0 0 5px rgba(103, 14, 172, 0.133), 0 0 7px rgba(103, 14, 172, 0.133), 0 0 8px rgba(103, 14, 172, 0.133);
}

.header .panel .logs {
  min-width: 150px;
  max-width: 150px;
}

.header .panel .logs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  display: -ms-grid;
  display: grid;
}

.header .panel .logs ul li {
  margin: 0 auto;
}

.header .panel .logs ul li a {
  text-decoration: none;
  vertical-align: middle;
  float: left;
}

.header .panel .logs ul li a:hover {
  color: #e2b10d;
}

.header .panel .user {
  width: 10%;
  color: #093245;
}

.header .panel .search-icon {
  width: 15px;
  position: relative;
  top: 1.37em;
  left: 0.3em;
}

.header .panel .user-move {
  padding: 1em;
}

.header .panel .logo {
  color: #1c6629;
  font-weight: 20;
  font-size: 30;
  font-style: oblique;
}

.header .panel .logo span {
  font-weight: 800;
}

.header .panel .logo #p {
  font-weight: 23;
}

@media (max-width: 1380px) {
  .logs ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1100px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .panel {
    width: 100%;
  }
  .header .panel .inputText {
    width: 100%;
  }
  .header .panel .logs {
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .title {
    width: 100%;
    place-items: center;
  }
}

.user, .key {
  width: 25px;
}

.direct {
  width: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin: 0 auto;
}

.direct desc {
  width: 50%;
}

.cards {
  color: #524949;
  border-radius: 9px;
  width: 100%;
  max-width: 300px;
  margin: 10px 4px;
  border: none;
  -webkit-box-shadow: 0 0 2px #ecf1f8, 0 0 3px #ecf1f8, 0 0 4px #ecf1f8, 0 0 5px #ecf1f8, 0 0 7px #ecf1f8, 0 0 8px #ecf1f8, 0 0 16px #ecf1f8, 0 0 4px #ecf1f8, 0 0 17px #ecf1f8, 0 0 16px #ecf1f8, 0 0 8px #ecf1f8, 0 0 12px #ecf1f8, 0 0 11px #ecf1f8, 0 0 10px #ecf1f8, 0 0 13px #ecf1f8, 0 0 6px #ecf1f8, 0 0 1px #ecf1f8;
          box-shadow: 0 0 2px #ecf1f8, 0 0 3px #ecf1f8, 0 0 4px #ecf1f8, 0 0 5px #ecf1f8, 0 0 7px #ecf1f8, 0 0 8px #ecf1f8, 0 0 16px #ecf1f8, 0 0 4px #ecf1f8, 0 0 17px #ecf1f8, 0 0 16px #ecf1f8, 0 0 8px #ecf1f8, 0 0 12px #ecf1f8, 0 0 11px #ecf1f8, 0 0 10px #ecf1f8, 0 0 13px #ecf1f8, 0 0 6px #ecf1f8, 0 0 1px #ecf1f8;
}

.cards .sign-in {
  font-size: 20;
  padding-left: 2em;
  padding-top: 1em;
}

.cards #sign-up {
  text-decoration: none;
}

.cards #sign-up:hover {
  text-decoration: underline;
}

.cards .warning {
  padding-left: 2em;
}

.inputs {
  border-radius: 20px;
  width: 65%;
  color: black;
  width: 90%;
  outline: none;
  margin: 0.8em 0;
  padding: 0.2em 1em;
  border: 1px solid #b2b6b6;
}

.form-control:hover {
  -webkit-box-shadow: 0 0 2px #91b8f3, 0 0 3px #91b8f3, 0 0 4px #91b8f3, 0 0 5px #91b8f3, 0 0 7px #91b8f3, 0 0 8px #91b8f3;
          box-shadow: 0 0 2px #91b8f3, 0 0 3px #91b8f3, 0 0 4px #91b8f3, 0 0 5px #91b8f3, 0 0 7px #91b8f3, 0 0 8px #91b8f3;
}

.user, .key {
  width: 25px;
  opacity: .9;
  left: -126px;
  position: relative;
}

.user {
  top: 43px;
}

.key {
  top: 43px;
}

.submit {
  border-radius: 5px;
  width: 150px;
  padding: 7px;
  margin-top: 25px;
  margin-right: 120px;
  background-color: #700d0d;
  color: #fff;
  margin-left: 1.5em;
}

.submit:hover {
  background-color: #8d2121;
}

.details {
  margin-right: 300px;
}

.out-flash {
  padding-left: 3em;
}

.out-flash .flash {
  background-color: #fff1ca;
  position: relative;
  width: 80%;
  border-radius: 4px;
  padding-left: 2em;
}

.out-flash .flash p {
  color: #a18b4e;
}

.card-footer-disable {
  width: 100%;
}

.div {
  padding-left: 2.5em;
}

.div hr {
  width: 80%;
  border-radius: 5px;
}

.card {
  width: 30%;
  max-width: 300px;
  min-width: 300px;
  border: 1px solid white;
  background-color: #fffbfb;
  place-items: center;
}

.card-header-disable {
  place-items: center;
  width: 100%;
}

.card-body {
  padding: 1em 0;
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding-left: 30em;
}

.form-content {
  padding: auto auto;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding-left: 1.9em;
}

.form-content p {
  padding-left: 0.5em;
}

.sums {
  width: 50%;
  border: 1px solid rebeccapurple;
  margin: 0 auto;
}

.body-container {
  width: 50%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
}

.body-container .book-details {
  padding: 0 5em;
  width: 20%;
  max-width: 300px;
  min-width: 300px;
  font-size: 0.3px;
  margin-left: 45em;
}

.div {
  width: 50%;
  margin: 0 auto;
}

.div #line {
  width: 60%;
  padding-left: 69px;
}

.read-book {
  max-width: 150px;
  min-width: 150px;
  width: 20%;
}

.read-book .button {
  text-align: left;
}

@media (max-width: 550px) {
  .body-container {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .body-container div .review-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #66a552;
  }
}

.rating {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.rating input {
  display: none;
}

.rating .label::before {
  content: '\f005';
  font-family: fontAwesome;
  display: none;
}

.rating .label::after {
  content: '\f005';
  font-family: fontAwesome;
  color: #dadad6;
}

.rating .label:hover::after {
  color: #cc5b10;
}

.rating .label:hover::after,
.rating .label:hover ~ .label::after,
.rating input:checked ~ .label::after {
  color: #cc5b10;
}

.review-container {
  width: 70%;
  margin: 0 auto;
}

.whole-container {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px auto;
}

.whole-container .right {
  width: 30%;
  border: 1px solid #878887;
  border-bottom: none;
  border-top: none;
  border-right: none;
  margin: 0 auto;
  text-align: center;
}

.whole-container .right .body-container {
  width: 100%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.whole-container .right .body-container .book-details {
  padding: 0 5em;
  width: 100%;
  max-width: 150px;
  min-width: 150px;
  font-size: 0.3px;
  margin-left: 45em;
}

.whole-container .right .body-container .book-details h4 {
  font-size: 1rem;
}

.whole-container .right .body-container .book-details h5 {
  font-size: 0.9rem;
}

.whole-container .right .body-container .book-details h6 {
  font-size: 0.8rem;
}

.whole-container .right .body-container #fav {
  width: 80px;
}

.whole-container .left {
  width: 70%;
  place-content: center;
  margin: 0 auto;
}

.whole-container .left .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  margin: 10px;
}

.whole-container .left .top .book-pic {
  place-items: center;
}

.whole-container .left .top .book-pic img {
  width: 100%;
  max-width: 213px;
  min-width: 213px;
}

.whole-container .left .top .book-details {
  width: 50%;
  padding: 0 5em;
  width: 20%;
  max-width: 300px;
  min-width: 300px;
  font-size: 0.3px;
  margin-left: 45em;
}

@media (max-width: 1170px) {
  .whole-container .right {
    border-left: none;
    border-top: 1px solid #878887;
  }
  .whole-container .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    place-items: center;
  }
}

@media (max-width: 1000px) {
  .whole-container .rate-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .whole-container #star1 {
    left: 70px;
  }
  .whole-container textarea {
    width: 40px;
  }
}

.whole-container .bottom {
  width: 100%;
  float: right;
}

.whole-container .bottom .rate-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  width: 100%;
  float: right;
  background-color: #dad8e6;
}

.whole-container .bottom .rate-box .rate-number {
  float: right;
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.whole-container .bottom .rate-box .rate-number .rating {
  border: 3px solid red;
}

.whole-container .bottom .rate-box .rate-number .rating #star {
  margin-top: 5em;
  width: 40px;
  color: #1c6629;
}

.whole-container .bottom .rate-box .align {
  height: 3px;
  height: 10%;
}

.whole-container .bottom .rate-box .align .float {
  float: right;
  width: 100%;
  background-color: #3d27b9;
}

.whole-container .bottom .rate-box .align .inner-box {
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.whole-container .bottom .rate-box .align .inner-box .number {
  width: 10%;
  position: relative;
  top: -1px;
}

.whole-container .bottom .rate-box .align .inner-box .perc {
  margin: 1em 1em;
  width: 50%;
  height: 6px;
  background-color: #dadad6;
  border: 1px solid gray;
  position: relative;
  top: -8;
  border-radius: 4px;
  width: 90%;
  min-width: 200px;
  max-width: 200px;
}

.whole-container .bottom .rate-box .align .inner-box .perc .level {
  border: 3px solid #dadad6;
  width: 50%;
}

.whole-container .bottom .submit-review {
  margin: 0 auto;
  width: 100%;
}

.whole-container .bottom .submit-review textarea {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 0;
  outline: none;
  margin-bottom: 20px;
  margin-top: 45px;
  border-radius: 4px;
  color: #2e2828;
  min-width: 300px;
}

.whole-container .bottom .submit-review button {
  margin: 0 5px;
  float: right;
}

.whole-container .bottom .submit-review .rating #star1 {
  margin-top: 2em;
}

.whole-container .bottom .comment {
  text-align: left;
}

.whole-container .bottom .comment .comment-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
}

.whole-container .bottom .comment .comment-header .circle {
  width: 40px;
  height: 40px;
  border-radius: 40%;
  background-color: #616159;
}

.whole-container .bottom .comment .comment-header .next-to-circle .star-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.whole-container .bottom .comment .comment-header .next-to-circle .star-time div {
  margin-right: .5em;
}

.whole-container .bottom .comment .comment-header .next-to-circle .star-time div .loopstar::before {
  content: "\f005";
  font-family: fontAwesome;
  color: #dadad6;
}

.whole-container .bottom .comment .comment-header .next-to-circle .star-time div .img1 {
  position: relative;
  left: -96px;
}

.whole-container .bottom .comment .comment-body {
  padding-left: 3em;
}

@media (max-width: 900px) {
  .whole-container {
    width: 95%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    place-items: center;
  }
  .whole-container .align {
    position: relative;
    left: 10px;
  }
}

@media (max-width: 700px) {
  .whole-container {
    width: 95%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    place-items: center;
  }
  .whole-container .bottom {
    width: 100%;
  }
  .whole-container .align {
    position: relative;
    left: 10px;
  }
}

#star1 {
  position: relative;
  left: 50px;
}

#book-cover {
  width: 100px;
}

#h4 {
  font-size: 55em;
}

#h5 {
  font-size: 50em;
}

.register {
  width: 80%;
  border: 3px solid #151615;
  background-image: -webkit-gradient(linear, right top, left top, from(#232b44), to(#551533));
  background-image: linear-gradient(right, #232b44, #551533);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.register #welcome {
  font-size: 2rem;
  font-style: italic;
  color: #1c6629;
}

.register #log {
  text-decoration: none;
}

.register #log:hover {
  text-decoration: underline;
}

.register .inputText {
  min-width: 100px;
  max-width: 250px;
  border: 2px solid #464040;
  margin: 20px;
}

.register .inputText1 {
  min-width: 100px;
  border: 2px solid #464040;
  margin: 20px;
}

.register .in {
  padding-left: 20px;
}

.register .in .btnSubmit {
  padding: 5px;
  width: 100px;
}

.register .error {
  background-color: green;
  width: 50%;
}

.register .error p {
  font-size: 0.9rem;
  color: #f2f2f8;
}

.register .label::before {
  content: "*";
  color: red;
  position: relative;
  top: -50px;
  left: -24px;
}

@media (max-width: 840px) {
  .register {
    background-image: -webkit-gradient(linear, right top, left top, from(#232b44), to(#551533));
    background-image: linear-gradient(right, #232b44, #551533);
  }
  .register .inputText1 {
    max-width: 250px;
  }
}
/*# sourceMappingURL=styles.css.map */