$color:  #8d7811;
$purplelike: #e0e0dd;
$cardshadow: #ecf1f8;
$input: rgba(103, 14, 172, 0.133);
$form: #91b8f3;
$submit: #700d0d;
$star_before: #dadad6;
$star_after: #cc5b10;

body {
    margin: 0;
    list-style: none;
    text-decoration: none;
}

section {
    padding: 45px 0;
}

.container {
    display: grid;
    place-items: center;
}

header {
    background-color: rgba(103, 14, 172, 0.133);
    border-bottom: 1px solid rgba(92, 6, 40, 0.133);
    border-top: 1px solid rgba(211, 12, 45, 0.133);
}
.header {
    height: 10%;
    width: 70%;
    display: flex;
    place-items: center;
    margin: 0 auto;

   
    .title {
        display: flex;
        align-items: center;
        width: 34%;

  
       
        
    }
    .input-group {
        align-items: center;
        width: 33%;    
        outline: none;  
        .inputText {
            outline: none;
            border: none; 
            background-color: transparent;
            border-right: 1px solid rgb(221, 218, 218);
            padding-left: 1.5em;
            padding: 0.2em 1.5em;

        }
        .inline {
            border: 1px solid rgb(221, 218, 218);
            background-color: hsl(0, 100%, 99%);
            display: flex;
            outline: none;
            border-radius: 30px;
            align-items: center;
            display: flex;
            button {
                background-color: transparent;
                border: none;
                outline: none;
            }
          
        }
        .inline:hover {
            border: 1px solid  rgba(103, 14, 172, 0.133);
            box-shadow: 
                        0 0 2px $input,
                        0 0 3px $input,
                        0 0 4px $input,
                        0 0 5px $input,
                        0 0 7px $input,
                        0 0 8px $input,
        }
    }
   

    .logs {
       width: 33%;

       ul {
            display: flex;
            list-style: none;

            li {
                margin: 0 1em;
                a {
                    text-decoration: none;
                }
                a:hover {
                    color: #e2b10d;                }
            }
        }
    }
    .user {
        width: 10%;
        color: #093245;
    }
    .search-icon {
        width: 15px;
        position: relative;
        top: 1.37em;
        left: 0.3em;
    }

    .user-move {
        padding: 1em;
    }
    .logo {
        color: #1c6629;
        font-weight: 20;
        font-size: 30;
        font-style: oblique;
        
        span {
            font-weight: 800;
        }

        #p {
            font-weight: 23;
           
         }
         
    }
    

    @media (max-width: 750px) {

        .logs ul {
            display: flex;
            flex-direction: column;
          
        }
        .inputText{
        
            min-width: 150px;
        }
       
    }
}

@media (max-width: 1360px) { 
    .logs ul {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
@media (max-width: 750px) {
    .header {
       display: flex;
       flex-direction: column;
       margin-bottom: 100px;
       text-align: center;
    }
    .search-icon {
        display: none;
    }
}
@media (max-width: 400px) {
    header {
      height: 50%;
    }
}
 .user, .key {
    width: 25px;            
} 

.direct {
    width: 50%;
    display: grid;
    place-items: center;
    margin: 0 auto;
    desc {
        width: 50%;
    }
}

.cards {
 
    color: #524949;
    border-radius: 9px;
    width: 100%;
    max-width: 300px;
    margin: 10px 4px;
    border: none;
    box-shadow: 0 0 2px $cardshadow,
                0 0 3px $cardshadow,
                0 0 4px $cardshadow,
                0 0 5px $cardshadow,
                0 0 7px $cardshadow,
                0 0 8px $cardshadow,

                0 0 16px $cardshadow,
                0 0 4px $cardshadow,
                0 0 17px $cardshadow,
                0 0 16px $cardshadow,
                0 0 8px $cardshadow,


                0 0 12px $cardshadow,
                0 0 11px $cardshadow,
                0 0 10px $cardshadow,
                0 0 13px $cardshadow,
                0 0 6px $cardshadow,
                0 0 1px $cardshadow;

    .sign-in { 
    font-size: 20;
    padding-left: 2em;
    padding-top: 1em;

    }
    #sign-up {
        text-decoration: none;
        
    }
    #sign-up:hover {
        text-decoration: underline;
    }
    .warning {
        padding-left: 2em;

    }
}
   
    .inputs {
     
            border-radius: 20px;
            width: 65%;
            color: black;
            width: 90%;
            outline: none;
            margin: 0.8em 0;
            padding: 0.2em 1em;
            border: 1px solid #b2b6b6;
            
        }

         

    .form-control:hover{
 
        box-shadow: 0 0 2px $form,
                0 0 3px $form,
                0 0 4px $form,
                0 0 5px $form,
                0 0 7px $form,
                0 0 8px $form;
        
    }

    .user, .key {
        width: 25px; 
        opacity: .9;
        left: -126px;
        position: relative;
        
    } 
    
    .user {
        top: 43px;  
    }
    
    .key {
        top: 43px;
    }
    
    .submit {
        border-radius: 5px;
        width: 150px;
        padding: 7px;
        margin-top: 25px;
        margin-right: 120px;  
        background-color: $submit;
        color: #fff;
        margin-left: 1.5em;
    }

    .submit:hover {
        background-color: #8d2121;
        
    }
    .details{
        margin-right: 300px;
    }
    .out-flash {
        padding-left: 3em;
        .flash {
            background-color: #fff1ca;
            position: relative;
            width: 80%;
            border-radius: 4px;
            padding-left: 2em;
            p{
                color: #a18b4e;
            }
        }
    }
  
    .card-footer-disable {
        width: 100%;
    
    }
    
    .div {
        padding-left: 2.5em;
        hr {
            width: 80%;
            border-radius: 5px;
            
        }
    }
  
    


.card {
    width: 30%;
	max-width: 300px;
	min-width: 300px;
    border: 1px solid white;
    background-color: #fffbfb;
    place-items: center;
    

}
 
.card-header-disable {
    place-items: center;
	width: 100%;

}  
.card-body{

	padding: 1em 0;
	display: grid;
	place-content: center;
    padding-left: 30em;



}
.form-content {
	padding: auto auto;
    display: grid;
    place-items: center;
    padding-left: 1.9em;
    p {
        padding-left: 0.5em;
    }
}
.sums {
    width: 50%;
    border: 1px solid rebeccapurple;
    margin: 0 auto;
}

.body-container{
    width: 50%;
    margin: 0 auto;
    display: flex;
    place-items: center;

    .book-details {
        padding: 0 5em;
        width:20%;
        max-width: 300px;
        min-width: 300px;
        font-size: 0.3px;
        margin-left: 45em;

    }
}
.div {
    width: 50%;
    margin: 0 auto;
    #line {
        width: 60%;
        padding-left: 69px; 
    }
}


.read-book {
    max-width: 150px;
    min-width: 150px;
    width: 20%;
    .button {
        text-align: left;
     }
}

@media (max-width:550px){
  
    .body-container {
        width: 90%;
        flex-direction: column;
        text-align: center;
        div {
            .review-flex {
                display: flex;
                flex-direction: column;
                background-color: rgb(102, 165, 82);
            }
        } 
    }
}
.rating {
    width: 10%;
    display: flex;
    flex-direction: row-reverse;
    input {
        display: none;    
    }
    .label::before {
        content: '\f005';
        font-family: fontAwesome;
        display: none;
    }
    .label::after {
        content: '\f005';
        font-family: fontAwesome;
        color: $star_before;
     
    }
    .label:hover::after {
        color: $star_after;
    }
    .label:hover::after,
    .label:hover ~ .label::after,
    input:checked ~ .label::after {
        color: $star_after;  
    }
    
}

.review-container {
    width: 70%;
    margin: 0 auto;
}

.whole-container {
    width:70%;
    display: flex;
    margin: 50px auto;

    .right {
        border: 1px solid rgb(135, 136, 135);
        border-bottom: none;
        border-top: none;
        border-right: none;
    }

    .left {
        width: 70%;
        place-content: center;
        margin: 0 auto;

        .top {

            display: flex;
            place-items: center;
            .book-pic {
                width: 30%;
                img {
                    width: 100%;
                    max-width: 225px;
                    min-width: 225px;
                }
            }
            .book-details {
                width: 50%;
            }
        }
    }
    @media (max-width:1170px) {
        .right {
            border-left: none;
            border-top: 1px solid rgb(135, 136, 135);
         }
        .top {
            display: flex;
            flex-direction: column;
            place-items: center;
        }
    }
    @media (max-width:1000px) {
     
        .rate-box {
            display: flex;
            flex-direction: column;
        
        }
        #star1 {
            left: 70px;
        }
        textarea {
            width: 40px;
        }
    }
    .bottom {
        width: 100%;
        float: right;
        .rate-box {

            display: flex;
            place-items: center;
            width: 100%;
            float: right;

            background-color: rgb(218, 216, 230);
            .rate-number {
                float: right;
                width: 100%;
                
                place-items: center;
                .rating {
                    #star {
                        width: 40px;
                        color: #1c6629;
                    }
                }
            }
            .align {
                height:3px;
              
                .float {
                    float: right;
                    width: 100%;
                    background-color: rgb(61, 39, 185);
                }
   
                height: 10%;
                .inner-box {
   
                    height: 20px;
                    display: flex;
                    width: 50%;
        
                    .number {
                        width: 10%;
                        position: relative;
                        top: -11px;
                    }
                    .perc {
                        margin: 1em 1em;
                        width: 50%;
                        
                        height: 6px;
                        background-color: $star_before;
                        border: 1px solid gray;
                        position: relative;
                        top: -8;
                        border-radius: 4px;     
                        width: 90%;
                        min-width: 200px;
                        max-width: 200px;       
                        .level { 
                            border: 3px solid $star_before;
                            width: 50%;
                        }
                    }
                }
            }
        }

        .submit-review {
            margin: 0 auto;
            width: 100%;
            textarea {
                width: 100%;
                border-top: none;
                border-left: none;
                border-right: none;
                padding: 0;
                outline: none;
                margin-bottom: 20px;
                margin-top: 45px;
                border-radius: 4px;
                color: #2e2828;
                min-width: 300px;
            }
            button {
                margin: 0 5px;
                float: right;
            }
        }

        .comment {
            text-align: left;

            .comment-header {
                display: flex;
                place-items: center;
                .circle {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: #616159;
                }
                .next-to-circle {

                    
                    .star-time {
                        display: flex;
                       
                        div {
                            margin-right: .5em;
                            .loopstar::before {
                                content: "\f005";
                                font-family: fontAwesome;
                                color: #dadad6;
                            }
                            .img1 {
                                position: relative;
                                left: -96px;
                            }
                        }
                    }
                }
            }

            .comment-body {
                padding-left: 3em;
            }
        }
    }
}
@media (max-width:900px) {

    .whole-container {
      
       width: 95%;
       flex-direction: column;
       text-align: center;
       place-items: center;
       .align {
        position: relative;
        left: 10px;
    }
    }
}
@media (max-width:700px) {

    .whole-container {

       width: 95%;
       flex-direction: column;
       text-align: center;
       place-items: center;
       
       .bottom {
           width: 100%;
       }
       .align {
        position: relative;
        left: 10px;
        }
    }
}
#star1 {

       position: relative;
       left: 50px; 
}

#book-cover {
    width: 100px;
}

#h4 {
       font-size: 55em;
}
#h5 {
    font-size: 50em;
}
